:root {
  --color-accent-primary: #05386B;
  --color-accent-secondary: #379683;
  --color-background-primary: #5CDB95;
  --color-background-secondary: #8EE4AF;
  --color-font-primary: #EDF5E1;

}
 
html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.root {
  background-color: var(--color-background-primary);    
}
.parallax {
  background-image: url(https://static.wixstatic.com/media/fb2f83_f9975c6f211840beb571b822154fc4ce~mv2.png/v1/fit/w_673%2Ch_835%2Cal_c/file.png);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flexContainer{
  display: flex;
  justify-content:center;
}
.introduction, .Name {
  color: var(--color-font-primary);
  text-align: center;
}
.Name {
  font-weight: bold;
  font-size:xx-large;
}
.introduction {
  font-size: large;
}

.ProjectSearch{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.SearchField {
  width: 70%;
}
.SearchButton {
  width: fit-content;
}
.projectList{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 5rem;
}

.projectCard{
  position: relative;
  background-color: var(--color-background-secondary);
  margin: 2rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  transition: 0.2s;
}

.projectCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  cursor: pointer;
}
.projectCardTechniques {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}
.technique {
  background-color: var(--color-accent-primary);
  color: var(--color-font-primary);
  padding: 5px;
  margin: 5px;
  font-size: 1.5rem;
}

.projectCardImage{
  margin-left: 5%;
  margin-top: 2rem;
  max-width: 90%;
  height: auto;
}

.projectCard__content {
  margin: 2rem;
}
.projectCardDescription{
  font-size: 1.5rem;
  color: var(--color-accent-primary);
}

.projectCardName{
  color: var(--color-font-primary);
  font-size: 2rem;
  font-weight: bold;
}

.Project {
  background-color: var(--color-background-primary);
  display: flex;
  margin: auto;
  width: fit-content;
  padding-bottom: 5mm;
  padding-right: 5mm;
}

.projectName{
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-font-primary);
  text-transform: uppercase;
}

.projectImage{
  margin-top: 5rem;
  height: auto;
  max-height: 150mm;
  width: auto;
  max-width: 150mm;
}

.projectDescription{
  color: var(--color-accent-primary);
  font-size: 1.7rem;
  text-align: left;
}

.project__content {
  margin: 2rem;
  max-width: 100mm;
}

.projectGroup, .projectDate {
  font-size: 1.5rem;
  color: var(--color-accent-primary);
}

.projectLink {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.Navigation {
  font-size: 3rem;
  color: var(--color-accent-primary);
  text-transform: uppercase;
}
.Navigation:hover{
  cursor: pointer;
  color: var(--color-font-primary);
}
.NavigationBar {
  background-color: var(--color-accent-secondary);
  display: flex;
  justify-content: left; 
}
.NavLinks {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.NavHome {
  width: 30%;
  display: flex;
  justify-content: center;
}