:root {
  --color-accent-primary: #05386B;
  --color-accent-secondary: #379683;
  --color-background-primary: #5CDB95;
  --color-background-secondary: #8EE4AF;
  --color-font-primary: #EDF5E1;

}
 
html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.projectList{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.projectCard{
  position: relative;
  background-color: var(--color-background-secondary);
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
}

.projectCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  cursor: pointer;
}

.projectCardImage{
  margin-top: 2rem;
  max-width: 95%;
  height: auto;
}

.projectCard__content {
  margin: 2rem;
}
.projectCardDescription{
  font-size: 1.5rem;
  color: black;
}

.projectCardName{
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.Project {
  background-color: var(--color-background-primary);
  display: flex;
  justify-content: left;
  width:fit-content;
  padding-bottom: 5mm;
  padding-right: 5mm;
}

.projectName{
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-font-primary);
  text-transform: uppercase;
}

.projectImage{
  margin-top: 5rem;
  height: auto;
  max-height: 150mm;
  width: auto;
  max-width: 150mm;
}

.projectDescription{
  color: var(--color-accent-primary);
  font-size: 1.7rem;
  text-align: left;
  max-width: 100mm;
}

.project__content {
  margin: 2rem;
}

.projectGroup, .projectDate {
  font-size: 1.5rem;
  color: var(--color-accent-primary);
}

.projectLink {
  font-size: 1.5rem;
}

.Navigation {
  font-size: 3rem;
  color: var(--color-accent-primary);
  text-transform: uppercase;
}
.Navigation:hover{
  cursor: pointer;
  color: var(--color-font-primary);
}
.NavigationBar {
  background-color: var(--color-accent-secondary);
  display: flex;
  justify-content: left; 
}
.NavLinks {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.NavHome {
  width: 30%;
  display: flex;
  justify-content: center;
}